###Settings###
background yes
cpu_avg_samples 1
default_bar_size 100 8
default_graph_size 200 100
diskio_avg_samples 10
double_buffer yes
extra_newline no
if_up_strictness address
net_avg_samples 1
no_buffers yes
temperature_unit celsius
text_buffer_size 2048
short_units yes
update_interval 0.5
###End Settings###

###Position###
alignment top_right
gap_x 20
gap_y 40
minimum_size 300 740
maximum_width 300
###End Position###

###Borders###
border_inner_margin 0
border_outer_margin 10
border_width 0
draw_borders no
draw_graph_borders yes
draw_outline no
draw_shades no
###End Borders###

###Window###
own_window yes
own_window_argb_value 0
own_window_argb_visual yes

#own_window_class systemConky
own_window_color 3D3D3D
own_window_hints undecorate,sticky,skip_taskbar,skip_pager,below
#all options for own_window_type are normal, desktop, dock, panel or override
#best for Linux Mint 17.1 Cinnamon
own_window_type desktop
#best for Ubuntu 14.10 Utopic
#own_window_type dock
#own_window_transparent yes
#own_window_title system_conky
###End Window###

###Font###
max_text_width 0
override_utf8_locale yes
uppercase yes
use_spacer none
use_xft yes
xftfont Ubuntu:size=9
xftalpha 0.9
###End Font###

###Defining Colors###
#default_color FFFFFF
default_outline_color 000000
default_shade_color 000000
###End Color###

own_window_colour 000000
own_window_transparent yes
TEXT
#${color FFA300}${font Ubuntu:size=11:bold}${voffset 2}С И С T E M А  ${hr 2}${font}${color}

${font C39HrP48DhTt:size=95}${voffset -10}UZER-BOX-SYSTEM${font}
${color red}${font Ubuntu:size=11}${voffset -60}${hr 2}${font}${color}

${voffset 58}Машина: ${alignr}${blink ${nodename}}   ASUS
Дистрибутив: ${scroll 20 1 ${alignr}Manjaro 20.0.2 Lysia}
Ядро: ${alignr}${exec uname} ${exec uname -r}
#Видеокарта: ${alignr}${execp  nvidia-smi --query-supported-clocks=gpu_name --format=csv,noheader}
#Драйвер: ${alignr}${execi 60000 nvidia-smi | grep "Driver Version"| awk {'print $3'}}
ПК работает: ${alignr}${uptime}

${color FFA300}${font Ubuntu:size=11:bold}П Р O Ц E С С О Р  ${hr 2}${font}${color}

Процессор: $alignr${freq}MHz
Температура процессора: $alignr${execi 10 sensors | grep 'Core 0' | awk {'print $3'}}

График нагрузок: ${voffset -7}${alignr}${cpugraph 20,180}

${font icon4conky:size=35}C${font}${offset 8}${voffset -12}CPU Core 1: ${alignr}${offset -10}${cpu cpu1}%${alignr}${cpubar cpu1}
${offset 55}CPU Core 2: ${alignr}${offset -10}${cpu cpu2}%${alignr}${cpubar cpu2}
#${offset 30}CPU Core 3: ${alignr}${offset -10}${cpu cpu3}%${alignr}${cpubar cpu3}
#${offset 30}CPU Core 4: ${alignr}${offset -10}${cpu cpu4}%${alignr}${cpubar cpu4}

${font Ubuntu:size=9:bold}Топ процессов${font}${alignr}                        ID           CPU%         M%    
${voffset 4}     1  -  ${color E06666}${top name 1}${alignr}${goto 170}${top pid 1} ${goto 222}${top cpu 1} ${goto 274}${top mem 1}${color}
     2  -  ${color E68585}${top name 2}${alignr}${goto 170}${top pid 2} ${goto 222}${top cpu 2} ${goto 274}${top mem 2}${color}
     3  -  ${color EB9D9D}${top name 3}${alignr}${goto 170}${top pid 3} ${goto 222}${top cpu 3} ${goto 274}${top mem 3}${color}
     4  -  ${color EFB1B1}${top name 4}${alignr}${goto 170}${top pid 4} ${goto 222}${top cpu 4} ${goto 274}${top mem 4}${color}
     5  -  ${color F2C1C1}${top name 5}${alignr}${goto 170}${top pid 5} ${goto 222}${top cpu 5} ${goto 274}${top mem 5}${color}

${color FFA300}${font Ubuntu:size=11:bold}П А M Я Т Ь   ${hr 2}${font}${color}

${font icon4conky:size=30}M${font}${offset 8}${voffset -12}RAM: ${alignr}${offset -10}${mem} / ${memmax}${alignr}${color magenta}${membar}${color}
${offset 50}Swap: ${alignr}${offset -10}${swap} / ${swapmax}${alignr}${color cyan}${swapbar}${color}

${font Ubuntu:size=9:bold}Топ процессов${font}${alignr}                        ID           CPU%         M%    
${voffset 4}     1  -  ${color FFA300}${top_mem name 1}${alignr}${goto 170}${top_mem pid 1} ${goto 222}${top_mem cpu 1} ${goto 274}${top_mem mem 1}${color}
     2  -  ${color FFB533}${top_mem name 2}${alignr}${goto 170}${top_mem pid 2} ${goto 222}${top_mem cpu 2} ${goto 274}${top_mem mem 2}${color}
     3  -  ${color FFC45C}${top_mem name 3}${alignr}${goto 170}${top_mem pid 3} ${goto 222}${top_mem cpu 3} ${goto 274}${top_mem mem 3}${color}
     4  -  ${color FFD07D}${top_mem name 4}${alignr}${goto 170}${top_mem pid 4} ${goto 222}${top_mem cpu 4} ${goto 274}${top_mem mem 4}${color}
     5  -  ${color FFD997}${top_mem name 5}${alignr}${goto 170}${top_mem pid 5} ${goto 222}${top_mem cpu 5} ${goto 274}${top_mem mem 5}${color}

${color FFA300}${font Ubuntu:size=11:bold}Д И С К И   ${hr 2}${font}${color}

${font icon4conky:size=20}M${font}${offset 3}${voffset -12}Корень  -  SSD: ${alignr}${offset -10}${fs_used /} / ${fs_size /}${alignr}${fs_bar /}
${offset 30}I/O Read: ${alignr}${offset -10}${diskio_read /dev/sda1}${alignr}${color BDD285}${diskiograph_read sda1 8,100}${color}
${offset 30}I/O Write: ${alignr}${offset -10}${diskio_write /dev/sda1}${alignr}${color F2C1C1}${diskiograph_write sda1 8,100}${color}

${font icon4conky:size=20}H${font}${offset 3}${voffset -12}HOME - HDD: ${alignr}${offset -10}${fs_used /home} / ${fs_size /home}${alignr}${fs_bar /home}
${offset 30}I/O Read: ${alignr}${offset -10}${diskio_read sdb1}${alignr}${color BDD285}${diskiograph_read sdd1 8,100}${color}
${offset 30}I/O Write: ${alignr}${offset -10}${diskio_write sdb1}${alignr}${color F2C1C1}${diskiograph_write sdd1 8,100}${color}

${color FFA300}${font Ubuntu:size=11:bold}С Е Т Ь  ${hr 2}${font}${color}

${font Ubuntu:size=10:bold}Загрузка${font}
${color EB9D9D}${downspeedgraph wlo1 40,150}${color}
${offset 160}${voffset -45}Скорость: ${color0}${alignr}${downspeedf wlo1} KiB/s
${offset 160}Всего: ${color0}${alignr}${totaldown wlo1}

${font Ubuntu:size=10:bold}Передача${font}
${color B0CDE7}${upspeedgraph wlo1 40,150}${color}
${offset 160}${voffset -45}Скорость:${color0}${alignr}${upspeedf wlo1} KiB/s 
${offset 160}Всего: ${color0}${alignr}${totalup wlo1}


